.background
{
	background-image: url("/image/19366.jpg");
	background-size: cover;
	margin: 0px;
}


.pageDisplay
{
	position: absolute;
    display: flex;
    height:90%;
    width:95%;
}


.adminDisplay
{
    display: flex;
}


.block
{
	text-align: center ; 
	font-size: 50px;
	background:#2196f3;
	padding-left:10px;
	padding-right:10px; 
	margin: auto; 
	border-radius: 30px; 
	padding-bottom: 10px;
	display:flex;
	flex-direction:column;
	box-shadow: 17px 17px 13px #4fa5e5b5;
}


.table
{
	text-align: center ; 
	font-size: 25px;
	background:#ffffff;
	padding-left:10px;
	padding-right:10px; 
	margin: auto; 
	border-radius: 30px; 
	padding-bottom: 10px;
	display:flex;
	flex-direction:column;
}

.textBox
{
	height:34px ; 
	font-size:22px;
	border-radius: 10px;
	
}

input #form {
	width: 100px !important;
}